Flask==1.0.2
Flask-Cors==3.0.8
Flask-Login==0.4.1
Flask-Migrate==2.3.1
Flask-Moment==0.9.0
flask-paginate==0.5.5
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
python-dotenv
Flask-JWT-Extended
